/* MODALLES */

/* ______________11_____________ */
/* Estilos para el modal */
.modal11-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal11-content {
    background-color: #e84c3d;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 3rem 20px 3rem;
    text-align: justify;
    font-size: 1.1rem;
    letter-spacing: 1px;
    top: 90px;
    height: 430px;
  }
  
  .close-button11 {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 6px 13px;
    border: none;
    border-radius: 50%;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
  }
  .close-button11:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }